.button {
    inline-size: 32px;
    block-size: 32px;
    background-size: cover;
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.button:active {
   transform: scale(.9); 
}

#play {
background-image: url('../Images/play.png');

}

#pause {
background-image: url('../Images/pause.png');
}

#backward {
background-image: url('../Images/backward.png');


}

#forward {
    background-image: url('../Images/Forward.png');

}